<div class="menu-bar-right">
	<div class="search-box">
		<form action="{{ path('app_search') }}" method="GET" class="search-form">
			<input type="text" name="q" placeholder="Buscar">
		</form>
	</div>

	<!-- Sugerencias de usuarios a seguir -->
	<div class="suggestions box">
		<h3>Usuarios sugeridos</h3>
		<ul class="user-suggestions" id="user-suggestions">
			{% for suggestionData in suggestedUsers %}
				{% set suggestion = suggestionData[0] %}
				{% if (app.user and suggestion.id != app.user.id) and (suggestion.id not in followingIds) %}				<li>
					<img src="{{ suggestion.fotoPerfil ? asset('uploads/perfiles/' ~ suggestion.fotoPerfil) : asset('multimedia/Prueba/noicon.jpg') }}" alt="{{ suggestion.nombre }}">
					<div class="user-info-suggestion">
						<span class="username">
							<a href="{{ path('app_usuario_perfil', {id: suggestion.id}) }}" style="text-decoration: none; color: inherit;">
								{{ suggestion.nombre }}
							</a>
						</span>
						{# <span class="handle">{{ suggestion.email }}</span> #}
					</div>
					{% if app.user and app.user != suggestion and suggestion.id not in followingIds %}
						<a href="{{ path('app_usuario_follow', {id: suggestion.id}) }}" class="ajax-follow-link">
							<button>Seguir</button>
						</a>
					{% endif %}
				</li>
				{% endif %}
			{% else %}
				<p>No hay sugerencias.</p>
			{% endfor %}
		</ul>
	</div>
</div>
