<div class="menu-bar-right">
	<div class="search-box">
		<input type="text" placeholder="Buscar">
	</div>



	<!-- Sugerencias de usuarios a seguir -->
	<div class="suggestions box">
		<h3>Usuarios sugeridos</h3>
		<ul class="user-suggestions" id="user-suggestions">
			{% for suggestionData in suggestedUsers %}
				{% set suggestion = suggestionData[0] %}
				<li>
					<img src="{{ suggestion.fotoPerfil ? asset('uploads/perfiles/' ~ suggestion.fotoPerfil) : asset('multimedia/Prueba/noicon.jpg') }}" alt="{{ suggestion.nombre }}">
					<div class="user-info-suggestion">
						<span class="username">{{ suggestion.nombre }}</span>
						{# <span class="handle">{{ suggestion.email }}</span> #}
					</div>
					{% if app.user and app.user != suggestion and suggestion.id not in followingIds %}
						<a href="{{ path('app_usuario_follow', {id: suggestion.id}) }}">
							<button>Seguir</button>
						</a>
					{% endif %}
				</li>
			{% else %}
				<p>No hay sugerencias.</p>
			{% endfor %}
		</ul>
	</div>
</div>
